{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

    {% block navbar %}
    <li><a href=" {% url 'change' user_obj.pk %}" class="btn btn-primary">Редактировать</a></li>
    <a class="btn btn-primary" href="{% url 'index_article' %}" role="button" style="margin-right: 20px">Задачи</a>
         {% endblock %}


{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>


{% endblock %}