{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block navbar %}
    <div class="navbar">
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'profile' user.pk %}" role="button" style="margin-right: 20px">Profile</a>
            <a class="btn btn-primary" href="{% url 'create_article' %}" role="button" style="margin-right: 20px">Add
                tasks</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Выйти">
            </form>
        {% else %}
            <a class="btn btn-primary" href="{% url 'login' %}" role="button" style="margin-right: 20px">Войти</a>
            <a class="btn btn-primary" href="{% url 'register' %}" role="button" style="margin-right: 20px">Зарегистрироваться</a>
        {% endif %}

    </div>
{% endblock %}
{% block content %}
    {% for task in tasks %}
        <div class="card" style="width: 18rem;">
            {% if task.image_url %}
                <img src="{{ task.image_url }}" class="card-img-top" alt="">
            {% endif %}
            {% if not task.image_url %}
                <img src="{{  }}" class="card-img-top" alt="">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ task.category }}e</h5>
                <p class="card-text">{{ task.name }}</p>
                <a href="{% url 'detail_view' task.pk %}" class="btn btn-primary">Task detail info</a>
                {% if user.is_authenticated %}
                    <form action="{% url 'to_comment' task.pk %}" method="post">
                        {% load django_bootstrap5 %}
                        {% csrf_token %}
                        {% bootstrap_form favorit_form %}
                        <h1><input type="submit" class="btn btn-primary" value="Comment add"></h1>
                    </form>
                {% endif %}
            </div>
        </div>

    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/paginate.html' %}
    {% endif %}
{% endblock %}