{% extends "base.html" %}
{% block title %}Detail{% endblock %}
{% block navbar %}
<div class="navbar">
<a class="btn btn-primary" href="{% url 'project_index' %}" role="button" style="margin-right: 20px">Home</a>
 {% if user.is_authenticated %}
     <a class="btn btn-primary" href="{% url 'create_article' %}" role="button" style="margin-right: 20px">Add tasks</a>
     <a class="btn btn-primary" href="{% url 'index_article' %}" role="button" style="margin-right: 20px">Задачи</a>
     <a class="btn btn-primary" href="{% url 'project_update' project.pk %}" role="button" style="margin-right: 20px">Update</a>
     <a class="btn btn-primary" href="{% url 'project_delit' project.pk %}" role="button" style="margin-right: 20px">Delete</a>
{% endif %}
</div>
{% endblock %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <h1>{{ project.text_project }}</h1>
    <h1>{{ project.start_at }}</h1>
    {% for pj in project.tegs.all %}
    <div class="card" style="margin-top: 25px">
    <h5 class="card-header">{{pj.status}}</h5>
    <div class="card-body">
        <h5 class="card-title">{{pj.create_at}}t</h5>
        <p class="card-text">{{pj.text}}</p>
    </div>
</div>
    {% endfor %}
{% endblock %}